@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

:root {
    --color-1: #BE9B65;
    --text-color: #f0f0f0;
    --active-color: #4f4538;
    --accent-color: #1c7b62;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16pt;
    font-family: Signika, Helvetica, sans-serif;
    color: var(--active-color);
}

main {
    width: 50%;
    margin: auto;
    padding: 75px;
    line-height: 200%;
    background-color: white;
}

#homepage h2, p, b, img{
    padding-top: 20px;
}

#bigheader {
    font-size: 50pt;
    text-transform: uppercase;
    line-height: 1.2;
    color: var(--color-1);
}

#bdy-logo {
    width: 50%;
    height: auto;
    margin: auto;
}

#headimage {
    width: 100%;
    height: 400px;
    padding-bottom: 20px;
    margin: 0;
}

#headimage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

h1, h2, h3 {
    padding-bottom: 15px;
}

hr {
    border: none;
    height: 0.5px;
    color: var(--active-color);
    background-color: var(--active-color);
    padding: 0.3px 0;
    margin: 30px 0;
}

.gallerie {
    width: 800px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.gallerie img {
    height: auto;
    width: 200px;
}

.gallerie img:hover {
    scale: 1.1;
}

.gallerie .breit {
    height: auto;
    width: 300px;
}

#foto-pia {
    width: 300px;
    height: auto;
}

#foto-pia {
    width: 300px;
    height: auto;
}

#foto-pia:hover {
    scale: 2.0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


/* Navigation */

nav {
    height: 60px;
    width: 100%;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25);
    position: fixed;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav a {
    font-size: 14pt;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    scale: 1.1;
    transition: 0.1s ease-out;
    color: #4f4538;
}

nav .home-link{
    margin-right: auto;
    font-size: 16pt;
    font-weight: bold;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
}

/* Das Omm-Symbol auf jeder Seite */

#aum {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: auto;
    width: 5%;
    z-index: -1;
}

/* Kontaktinformationen-Listen */

.kontaktinfo ul {
    list-style:none;
}

.kontaktinfo li {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    padding: 5px; /* Adjust as needed */
}

.kontaktinfo img {
    padding-right: 10px;
    height: 30px;
    width: auto;
}

/* Für die AGB */

#agb {
    padding-left: 20px;
    padding-top: 15px;
}

#agb li {
    font-weight: bold;
}

/* Für das Impressum */

#impressum h2, h3 {
    padding-top: 20px;
}

#impressum li {
    list-style: none;
}

/* Für die Datenschutzerklärung */

#datenschutz li {
    padding-left: 20px; 
}

#datenschutz ol, ul {
    list-style-position: inside;
}

#datenschutz ol > li::marker {
    font-weight: bold;
}

#datenschutz h3, h4 {
    display: inline;
    font-weight: bold;
}

/* Für die mobile Ansicht */

@media(max-width: 900px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    #headimage {
        height: 30svh;
    }

    main {
        width: 90%;
        margin: auto;
        padding: 30px 10px 10px 10px;

    }

    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .gallerie {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    #bigheader {
        font-size: 28pt;
    }

    #bdy-logo {
        width: 100%;
        height: auto;
    }

    #aum {
    width: 20svw;
    }
}